body {
  background-color: #34495e;
}
.header-icon {
  width: 60px;
  height: 38px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
.landingpage-card-content {
  padding-bottom: 16px !important;
}
.landingpage-card {
  margin: 50px 26px;
}
.card-header {
  text-align: center;
  font-family: Roboto;
  font-size: 20px !important;
  font-weight: 500 !important;
  color: #6c8ca1;
  margin-bottom: 26px !important;
}
.landingpage-card-description {
  text-align: center;
}
.landingpage-card-down-arrow {
  text-align: center !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.card-body {
  border: none !important;
  padding: 0px;
}
.card-collapse {
  border: none;
  box-shadow: none;
}
.card-collapse-header {
  border: none;
  padding: 0px;
  margin-bottom: 0px;
}
.landingpage-font-style {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.margin {
  margin-left: 24px;
}

.help-documents-card {
  padding-left: 24px;
}

.dashboard-card {
  padding-left: 110px;
}

.line-spacing {
  padding-bottom: 8px;
}

.lp-header {
  z-index: 4;
  position: absolute;
  top: 0px;
  height: 120px;
  width: 100%;
  background: transparent;
  /* display: inline-flex; */
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  padding-top: 28px;
}
.top-image img {
  width: 100%;
  height: 557px;
}

.lp-logo img {
  border-radius: 50%;
  width: 66px;
  height: 66px;
  background: url("../assets/kozhikode_logo.png") no-repeat;
  float: left;
  margin: 0px 16px 10px 52px;
}

.lp-municipal-council {
  margin-top: 16px;
}

.lp-egov-logo img {
  width: 283px;
  height: 64px;
  margin-right: 35px;
  float: right;
}

.lp-login-text {
  margin-top: 22px;
  margin-right: 26px;
}

.lp-login-text::before {
  background: url("");
}
