.header-icon {
  width: 60px;
  height: 38px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
.landingpage-card1 {
  padding-bottom: 100px !important;
}
.card-header {
  text-align: center;
  font-family: Roboto;
  font-size: 20px !important;
  font-weight: 500 !important;
  color: #6c8ca1;
  margin-bottom: 26px !important;
}
.landingpage-card-description {
  text-align: center;
}
.landingpage-card-down-arrow {
  text-align: center !important;
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}
.card-body {
  border: none !important;
}
.card-collapse {
  border: none;
  box-shadow: none;
}
.card-collapse-header {
  border: none;
}
.landingpage-font-style {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.margin {
  margin-left: 24px;
}

.help-documents-card {
  padding-left: 24px;
}

.dashboard-card {
  padding-left: 110px;
}

.line-spacing {
  padding-bottom: 8px;
}
