.coloured-text {
  color: #cc9900;
}

ul.nav-pills {
  top: 20px;
  position: fixed;
}

/* div.col-sm-9 div {
  height: 250px;
  font-size: 28px;
} */

.nav-pills > li {
  background: none;
  color: #0076bd;
}

/* .nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: none;
  color: #f57c00;
} */

nav ul {
  list-style-type: none;
}

li a.active {
  color: #f57c00;
}
