.coloured-text {
  color: #cc9900;
}

ul.nav-pills {
  top: 20px;
  position: fixed;
}

/* div.col-sm-9 div {
  height: 250px;
  font-size: 28px;
} */

.nav-pills > li {
  background: none;
  color: #0076bd;
}

a:focus,
a:hover {
  text-decoration: none;
}

/* .nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: none;
  color: #f57c00;
} */

nav ul {
  list-style-type: none;
}

li a.active {
  color: #f57c00;
}

.heading1 {
  font-size: 24px;
  font-weight: 900;
}

.heading2 {
  font-size: 20px;
  font-weight: 900;
}

.heading3 {
  font-size: 16px;
  font-weight: 900;
}
